<!--部分テンプレート-->
 <%= render 'newbook', {book: @book , user: @user} %>



<!--投稿一覧-->
<h2>Books</h2>


<% @books.each do |book| %>
<div>
    <!--ユーザー画像-->
  <p><%= link_to image_tag(book.user.get_profile_image(100,100)), user_path(book.user_id) %></p>

  <!--タイトル-->
  <p><%= link_to book.title,book_path(book.id) %></p>

  <!--内容-->
  <p><%= book.body %></p>

</div>
<% end %>