<!--部分テンプレート-->
 <%= render 'newbook', {book: @book , user: @user} %>



<!--投稿一覧-->
<h2>Books</h2>


<% @books.each do |book| %>
<div>
  <!--タイトル-->
  <p><%= book.title %></p>
  <!--内容-->
  <p><%= book.body %></p>
  <!--ユーザー画像-->
  <p><%= link_to image_tag(book.user.get_profile_image(100,100)), book_path(book.id) %></p>

</div>
<% end %>